<div id="about">
  <h1>About Us</h1>

  <div id="main">
    <div class="menu">
      <div class="image" style="background-image: url('/img/audience-868074_640.jpg'); background-size: 150%;">
        <div>
          <div>Oslo Away 2014</div>
        </div>
      </div><div class="image" style="background-image: url('/img/audience-945449_640.jpg'); background-size: 150%;"> <!-- To fix blank space between divs -->
      <div>
        <div>E-sport Leamhack</div>
      </div>
    </div>
      <div class="image" style="background-image: url('/img/cheers-839865_640.jpg'); background-size: 150%;">
        <div>
          <div>Ultra music festival</div>
        </div>
      </div><div class="image" style="background-image: url('img/lead-singer-455750_640.jpg'); background-size: 150%;">
      <div>
        <div>Guy i Sverige 2016</div>
      </div>
    </div><div class="image" style="background-image: url('/img/show-1048467_640.jpg'); background-size: 150%;">
      <div>
        <div>Paris vs Göteborg day</div>
      </div>
    </div>
    </div>
  </div>

  <div id="text">
    <h1>Contact Information</h1>
    <h3>Email: Leamhack_events@hotmail.com</h3>
    <h3>Tel nr: 003-003232</h3>
    <h3>Post adress: Yebrolove 15 23123 box 020123 laalalalal</h3>
    <p>
      <h3>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id, quia suscipit! Ab accusantium aliquam asperiores,
      assumenda cupiditate eaque eum harum impedit inventore ipsam obcaecati quas quos recusandae saepe, sint unde?
      Autem consequatur distinctio eaque facilis inventore magnam modi nostrum totam veritatis! Alias asperiores
      dolorum fugiat ipsam iste itaque natus possimus quas ratione! Odio, praesentium, voluptatum! Accusamus ad quaerat
      quia tenetur!
      </h3>
    <p>
      <h3>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque eaque molestiae quibusdam repellendus rerum sit. Ad est fugiat laboriosam nulla repellat repellendus temporibus, veritatis voluptatem! Cupiditate doloremque nam nostrum omnis.
      </h3>
    <p>
      <h3>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, delectus ex fugiat hic, ipsa ipsam iusto mollitia necessitatibus nemo neque nobis odit perferendis possimus quia quos reiciendis sint voluptatem voluptatibus.
      </h3>
    <p>
      <h3>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias laudantium perferendis tenetur. Ad deleniti
      deserunt dignissimos impedit in minus modi, nihil qui recusandae rerum suscipit tempore vel veniam voluptas,
      voluptatem.
      Accusantium aliquid eligendi esse laboriosam nulla officiis porro quam temporibus voluptate voluptatem! A
      commodi culpa deserunt dicta error exercitationem illum ipsum itaque magni, maxime minima neque repudiandae sint
      temporibus veritatis?
      </h3>
    </div>
</div>