<main>
  <div id="pic">
    <img src="/img/dasd.jpg" alt="Biggest Sport Event">
  </div>

  <% if session[:user_id] != nil %>
  <div id="create_thread">
    <form action="/create_thread" method="post">
      <button class="button">Create Thread</button>
    </form>
  </div>
  <% end %>


  <div id="splash">

    <div>
      LeamHack

	<span>
	Tournaments
	</span>
    </div>
  </div>

  <article>
    <div class="title">
      Lorem
    </div>

    <div class="content">
      <p>
        <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto at eius error esse fugiat ipsum laborum reprehenderit repudiandae. Aliquid eos eveniet facilis nisi odit officia porro quaerat qui quia voluptates.</span><span>Blanditiis eveniet id impedit ipsa labore, molestiae perspiciatis quos. Accusantium culpa dolorem earum facilis fugiat hic illum iusto labore laborum minima minus nesciunt nostrum qui recusandae reiciendis, repellat ut veniam?</span><span>Autem dolorum incidunt molestias odit omnis quia quo repellat repudiandae voluptate. Aperiam assumenda, consequatur corporis distinctio et fuga fugiat harum illo inventore necessitatibus officia quisquam, recusandae tempore unde velit veritatis.</span>
      </p>

      <p>
        <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa id maxime nisi possimus rerum? Adipisci culpa cumque cupiditate dolores eos ex impedit, inventore ipsa libero maxime possimus repudiandae sapiente, suscipit!</span><span>Accusantium aliquid, architecto debitis dolor dolores dolorum eum facere harum magnam maiores maxime minus neque perferendis praesentium provident repellat repellendus tempora tempore temporibus veritatis! At harum quis repudiandae sequi tempore.</span><span>Cumque dignissimos est, expedita harum in ipsa magni, nemo neque obcaecati perspiciatis possimus praesentium quia vel! Architecto atque, autem distinctio earum impedit ipsum laboriosam minima, minus nesciunt possimus quia, vitae.</span>
      </p>

      <p>
        <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam animi culpa dolorem id libero minus molestiae molestias, natus nostrum, officiis quae quas quibusdam reiciendis sit suscipit unde veritatis vero.</span><span>Cum debitis dolor dolores est iste iure laborum libero magni maiores mollitia neque nulla quidem, repudiandae totam voluptas! A asperiores distinctio eos esse ex impedit ipsa quam rerum sequi voluptas.</span><span>Beatae eaque eius harum impedit molestiae nemo officia omnis praesentium quas voluptatibus. Cumque ea eaque eveniet iste iure libero non, nostrum quam quis repellat saepe similique? Assumenda laboriosam nulla veritatis.</span><span>Alias aliquam neque quasi sequi totam. Aspernatur id ipsam optio perferendis sint, soluta voluptas. Ad et fuga fugit illo, labore laborum natus, necessitatibus quis quisquam quo repudiandae similique veniam voluptatibus!</span>
      </p>
    </div>

    <div class="info">
      <div>
        Written by Martin Johansen
      </div>

      <div>
        2016-04-29
      </div>
    </div>
  </article>



  <article>
    <div class="title">
      Lorem Ipsum
    </div>

    <div class="content">
      <p>
        <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos libero nisi omnis quasi quidem quis quod, rem repellat repudiandae. Amet commodi debitis placeat possimus soluta! Eaque esse inventore maiores ut.</span><span>At cum, distinctio in neque quaerat quam quas quos ut veniam! Animi assumenda cum deleniti facilis id ipsa maiores minus, nam, necessitatibus nobis non placeat, quae sit vero voluptatem voluptatum.</span><span>Alias eos expedita fugiat fugit itaque iure iusto libero modi molestias nam, veritatis voluptate. Accusantium, aliquid deleniti, et facere fuga impedit ipsam neque nobis odit quod rerum saepe suscipit voluptas?</span>
      </p>

      <p>
        <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid aperiam asperiores assumenda blanditiis, consectetur corporis cum et id illo in laborum maiores minima minus modi perspiciatis sequi, sit ut vitae.</span><span>Adipisci, alias beatae consectetur dignissimos esse eum impedit ipsa magni nesciunt numquam provident quaerat sequi tempore tenetur voluptatibus! Aliquid debitis expedita explicabo, fuga harum in modi porro sequi tempore velit.</span><span>Aspernatur consectetur cumque delectus, eligendi eos est eum illum inventore iure porro. Beatae debitis, natus nesciunt nostrum quam repellendus sit soluta vitae? Aspernatur dolor earum eveniet pariatur placeat, quo repellendus!</span>
      </p>

      <p>
        <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga harum illo labore magnam optio porro possimus quaerat tempore. Dolorum eum laborum modi odit porro ratione sunt tempore ullam! Accusamus, ullam!</span><span>Asperiores facere modi molestiae placeat quae quaerat quia quis rerum similique vero, voluptas voluptate! A eaque excepturi ipsa omnis, perspiciatis placeat reiciendis sint soluta ullam? Cumque incidunt laudantium libero ut.</span><span>Autem fugit itaque molestias nihil nulla. Ad aspernatur at beatae mollitia voluptatibus. Animi beatae, deleniti eveniet molestias numquam placeat quibusdam. Cupiditate ducimus error hic maiores qui? At aut nam totam!</span>
      </p>
    </div>

    <div class="info">
      <div>
        Written by Martin Johansen
      </div>

      <div>
        2016-04-29
      </div>
    </div>
  </article>
</main>
