<div id="norg">
  <h1>Create Thread</h1>
  <h3>Title (maximum 100 characters):</h3>
  <form action="/create_thread" method="post">
    <textarea name="yolo" cols="100" rows="1" maxlength="100"></textarea>
  </form>
</div>

<div id="content_thread">
  <h3>Content (maximum 2000 characters):</h3>
  <form action="/create_thread" method="post">
    <textarea name="yolo" cols="100" rows="10" maxlength="2000"></textarea>
  </form>
</div>

<div id="submit">
  <form action="/create_thread" method="post">
    <button class="button">Submit</button>
  </form>
</div>



